<% include ../partials/header %>
	<style>	
		#header
		{
			border-radius: 0;
			padding: 125px 0 125px 0;
			background: url("<%= campground.image %>"), url("<%= defaultImage %>");
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			max-width: 100%;
			text-shadow: .5px .5px rgba(0,0,0,.3), 0 0 3px white;
		}
		form
		{
			display: inline-block;
		}
	</style>
	
	<header class="row m-0 mt-xl-5 mt-md-0">
		<div class="col"></div>
		<div id="header" class="tint col-xl-8 col-md-12 jumbotron m-0">
			<h1 class="text-center text-light el"><%= campground.name || "Untitled Campground" %></h1>
			<p class="lead text-center text-light mt-3 px-4"><%= campground.description || "No description set." %></p>
		</div>
		<div class="col"></div>
	</header>
	<div class="row m-0">
		<div class="col"></div>
		<div class="col-xl-8 col-md-12 card card-body p-2 d-flex">
			<div class="jumbo-footer d-flex justify-content-between">
				<span><strong>$<%= campground.price %>/night</strong></span>
				<% 
				if (user && user._id.equals(campground.author.id)) 
				{ 
					%><span>
				<a class="btn btn-sm btn-warning mx-1" href="/campgrounds/<%= campground.id %>/edit">Edit</a>
				<form id="deleteForm" action="/campgrounds/<%= campground.id %>?_method=DELETE" method="POST">
					<button id="deleteButton" class="btn btn-sm btn-danger mx-1">Delete</button>
				</form>
					</span><% 
				} 
				%>
				<span>By <strong><%= campground.author.username || "Admin" %></strong></span>
			</div>
		</div>
		<div class="col"></div>
	</div>
	<div class="row m-0">
		<div class="col"></div>
		<div class="mt-3 col-xl-8 col-md-12 card card-body bg-light">
			<div class="d-flex justify-content-around bd-highlight">
				<div class="p-2 bd-highlight">
					<p><%= campground.comments.length %> review<%= campground.comments.length == 1 ? "" : "s" %></p>
				</div>
				<form class="justify-content-center" action="/campgrounds/<%= campground._id %>/comments" method="POST">
					<% if (!user)
					{
						%><div class="alert alert-warning" role="alert">
							You must be signed in to post comments.
						</div><%
					}
					else
					{
					%>
					<div class="justify-self-center form-group">
						<label for="newComment">Add Comment as <em><%= user.username %></em>: </label>
						<textarea id="newComment" class="form-control" name="comment[content]" type="text" placeholder="<%= faker.lorem.sentence() %>"></textarea>
					</div>
					<button class="btn btn-sm btn-success">Add</button><%
					}
					%>
				</form>
			</div>
			<hr>
			<%
			campground.comments.forEach(comment =>
			{
				let userIsAuthor = user._id.equals(comment.author.id);
				%><div id="<%= comment._id %>" class="d-flex justify-content-between">
					<span>
						<strong class="<%= userIsAuthor ? `text-primary` : `` %>"><%= comment.author.username %></strong> - 
						<span class="comment"><%= comment.content %>
						</span>
					</span>
					<span class="comment-controls">
						<% 
						if (userIsAuthor)
						{
							%><form class="edit-comment-form" action="/campgrounds/<%= campground.id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
							<input type="hidden" name="comment[content]">
							<button class="btn btn-sm btn-warning">Edit</button>
						</form>
						<form class="delete-comment-form" action="/campgrounds/<%= campground.id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
							<button class="btn btn-sm btn-danger">Delete</button>
						</form>
						<%
						}
						%>
					</span>
				</div><%
			});
			
			if (campground.comments.length < 1) { %><p>No comments to see here...</p><% } %>
		</div>		
		<div class="col"></div>	
	</div>

<script>
	$("#deleteForm").on("submit", () => confirm(`Are you sure you want to delete '<%= campground.name %>'?`));
	$(".delete-comment-form").on("submit", () => confirm(`Are you sure you want to delete this comment?`));
	
	let editMode = false;
	$(".edit-comment-form").on("click", function() 
	{
		editMode = !editMode;
		
		let id = $(this).parent().parent().attr("id");
		var comment = $(`#${id} .comment`);
		
		comment.replaceWith(() =>
		{
			return !editMode ? $("<span>", { "class": comment.className, text: comment.value }) : $("<input>", { "class": "comment", value: comment.text().trim() });
		});
		$(this).children(`input`).val(comment.val());
		$(this).children("button").text(editMode ? "Save" : "Edit");
		return !editMode;
	});
</script>
	
<% include ../partials/footer %>